
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: Arial, serif;
	font-size: 14px;
	line-height: 22px;
	color: #A5A5A5;
	padding-bottom: 40px;
}

.container{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 32px;
}

a{
	color: #D0D0D0;
}

hr{
	max-width: 960px;
	color: #d0d0d0;
	margin: 20px auto;
}

.text-big{
	color: #7E7E7E;
	font-weight: 700;
}

/*--------------------------Header--------------------------*/

header{
	margin-bottom: 20px;
}

header .container{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}

.header-item{
	margin-right: 20px;
	max-height: 115px;
}

	.header-item:last-child{
		margin-right: 0;
	}

.header-image{
	width: 13%;
}

.header-image img{
	width: 100%;
	max-height: 115px;
}

nav{
	width: 30%;
	background-color: red;
}

.header-contacts{
	width: 53%;
	background-color: red;
	display: flex;
	flex-direction:column;
	justify-content: center;
}

.header-contacts-item{
	text-align: right;
	color: #D0D0D0;
	float: right;
	padding-right: 20px;
}

/*----------------------------------Main----------------------------*/

main .container{
	display: flex;
}

aside{
	width: 23%;
	float: left;
	margin-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

aside p{
	color:#fff;
	font-weight: 700;
}

aside ul{
	list-style: none;
	padding: 10px;
	color: #d0d0d0;
	background-color: red;
	max-height: 330px;
}

section{
	width: 85%;
}

aside img{
	width: 100%;
}

.some-info{
	background-color: red;
	padding: 20px;
	color: #7E7E7E;
	margin-bottom: 20px;
}

.some-info ul{
	padding: 20px 0 20px 40px;
}

.item-list{
	display: flex;
	flex-wrap: wrap;
	box-sizing: content-box;
	margin-left: -20px;
}

.item-list-item{
	background-color: #DCDCDC;
	width: calc(20% - 20px);
	height: 150px;
	margin: 0 0 20px 20px;	
}

.item-list-item img{
	width: 100%;
	max-height: 200px;
}

.news-list{
	display: flex;
}

.news-item{
	background-color: #DCDCDC;
	color: #7E7E7E;
	padding: 20px;
	margin-right: 20px;
	width: 50%;
}
.news-item:last-child{
	margin: 0;
}


/*--------------------------------------Foooter-----------------------------*/

footer .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color:#D0D0D0;
}

.footer-item{
	width: 30%;
	min-height: 180px;
	margin: 10px;
}

.list{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: red;
	padding: 20px 20px 20px 40px;
}

.some-list{
	list-style: none;
	max-height: 200px;
}

.other-list{
	list-style: square;
	height: auto;
}

.something{
	width: 32%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.something div{
	width: 100%;
	background-color: red;
	height: 77px;
	max-height: 80px;
	margin-bottom: 20px;
}

.something img{
	width: 100%;
}


@media screen and (max-width:930px){

aside{
	display: none;
}

section{
	width: 100%;
}

.footer-item{
	width: 45%;
}

}


@media screen and (max-width:750px){
.item-list-item{
	width: calc(25% - 20px);
	height: 180px;
	margin: 0 0 20px 20px;	
}

.footer-item{
	width: 90%;
	margin: 0 0 20px 0;
}
}

@media screen and (max-width:620px){
.item-list-item{
	width: calc(33% - 20px);
	height: 210px;
	margin: 0 0 20px 20px;	
}

.header-image{
	display: none;
}
}

@media screen and (max-width:530px){
.item-list-item{
	width: calc(50% - 20px);
	height: 210px;
	margin: 0 0 20px 20px;	
}
.footer-item{
	width: 99%;
}

.news-list{
	display: block;
}

.news-item{
	width: 99%;
}

.header-item{
	margin-right: 10px;
}

nav{
	width: 40%;
}

.header-contacts{
	font-size: 12px;
}

}

@media screen and (max-width:390px){
.item-list-item{
	width: calc(100% - 20px);
	height: 210px;
	margin: 0 0 20px 20px;	
}
}